@model Entites.Post
@{
    ViewData["Title"] = @Model.Name;
}

<h1>@Model.Name</h1>

<div class="container">
    <div class="row text-center">

        <div class="col-lg-4">
            <img src="/Img/@Model.Image" alt="@Model.Name" class="bd-placeholder-img rounded-circle" width="240" height="240" />
            <h2></h2>
            
        </div>

        <div class="col-lg-8">
            <p>@Model.Description</p>
        </div>

    </div>
</div>