@model Entites.Post

@{
    ViewData["Title"] = "İçerik Düzenle";
}

<h4>İçerik Düzenle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Image" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" type="file" />
                <span asp-validation-for="Image" class="text-danger"></span>
                <img src="/Img/@Model.Image" alt="" height="90" />
                <div>@Html.CheckBox("cbResmiSil") Resmi Sil</div>
            </div>
            <div class="form-group">
                @foreach (var item in (List<Category>)ViewBag.Categories)
                {
                    <div class="form-check">
                        <input class="form-check-input"
                               type="checkbox"
                               name="categoryIds"
                               value="@item.Id"
                               id="genre_@(item.Id)" @(Model.Categories.Any(i => i.Id == item.Id) ? "checked" : "")>
                        <label class="form-check-label" for="genre_@(item.Id)">
                            @item.Name
                        </label>
                    </div>

                }
            </div>
            @*<div class="form-group">
            <label asp-for="CategoryId" class="control-label">Kategori</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

